{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}

{% set title = craft.cacheFlag.getPluginName | t %}
{% set selectedTab = 'cacheFlagIndex' %}

{% set content %}

	{% if craft.cacheFlag.isCraftRequiredVersion == false %}
	<p class="error">Sorry, you need to run Craft {{ craft.cacheFlag.requiredCraftVersion }} or newer to use Cache Flag.<br/><strong>Please update your Craft installation.</strong></p>
	{% endif %}

    <div class="cacheFlag-flags">
        <header class="cacheFlag-header">
            <h2 id="cacheFlag-flagsTitle">{{ 'Flags'|t }}</h2>
            <p>Separate multiple flags with commas. Only alphanumeric characters allowed.</p>
        </header>
        {% if targets is defined and targets|length %}
        <section aria-labelledby="cacheFlag-flagsTitle" class="cacheFlag-section">
            {% for target, points in targets %}
                {% if points|length %}
                    <h3 class="cacheFlag-targetTitle">{{ (target|cacheFlagUnCamelCase|capitalize ~ 's')|t }}</h3>
                    <table id="cacheFlag-{{ target }}" class="data fullwidth collapsible">
                        <thead class="cacheFlag-tableHeader">
                            <th scope="col">{{ 'Name' | t }}</th>
                            <th scope="col">{{ 'Cache flags' | t }}</th>
                        </thead>
                        <tbody class="cacheFlag-tableBody">
                            {% for point in points %}
                            <tr{% if point['id'] is defined %} data-id="{{ point.id }}"{% endif %} data-name="{{ point.name }}">
                                <td scope="col" class="cacheFlag-pointName">{{ point.name|t }}</td>
                                <td scope="col" class="cacheFlag-flagsInput">
                                    {% set flagProp = point['id'] is defined ? point.id : point.classHandle %}
                                    {% set flag = cacheFlags[target][flagProp] is defined ? cacheFlags[target][flagProp] : false %}
                                    <form method="post" accept-charset="UTF-8">
                                        <input type="text" class="cacheFlag-inputText text nicetext" placeholder="" name="flags" size="25" value="{{ flag ? flag.flags }}" />
                                        <input type="submit" class="cacheFlag-inputSubmit btn submit" value="{{ 'Save'|t }}" />
                                        <input type="hidden" name="action" value="cacheFlag/saveFlags">
                                        <input type="hidden" name="target" value="{{ target }}" />
                                        <input type="hidden" name="targetName" value="{{ point.name }}" />
                                        {% if point['id'] is defined %}
                                        <input type="hidden" name="id" value="{{ point.id }}" />
                                        {% else %}
                                        <input type="hidden" name="elementType" value="{{ point.classHandle }}" />
                                        {% endif %}
                                        {% if flag %}<input type="hidden" name="flagId" value="{{ flag.id }}" />{% endif %}
                                    </form>
                                    <form method="post" accept-charset="UTF-8" class="cacheFlag-clearCachesByFlagsForm">
                                        <input type="hidden" name="action" value="cacheFlag/clearCachesByFlags">
                                        {% if flag %}<input type="hidden" name="flags" value="{{ flag.flags }}" />{% endif %}
                                        <input type="submit" class="cacheFlag-inputSubmit btn submit{{ flag == false ? ' disabled' }}" value="{{ 'Clear caches'|t }}"{{ flag == false ? ' disabled' }} />
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% endfor %}
        </section>
        <hr/>
        {% endif %}

        <section aria-labelledby="{{ 'General'|t }}">
            <form method="post" accept-charset="UTF-8" class="cacheFlag-clearAllCachesForm">
                <input type="submit" class="cacheFlag-inputSubmit btn submit" value="{{ 'Clear all flagged caches'|t }}" />
                <input type="hidden" name="action" value="cacheFlag/clearAllCaches">
            </form>
        </section>

    </div>

	{% include 'cacheflag/_partials/footer.twig' %}

{% endset %}
